<!-- component -->
<header>
    <nav class="bg-blue-800 border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-blue-950">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a class="flex items-center">
                <img src="https://th.bing.com/th/id/OIP.6Mu45ss9bv-J7VacT1MYRwHaA7?rs=1&pid=ImgDetMain"/>
            </a>
            <div class="relative w-1/2 bg-slate-500 rounded">
                <div class="capitalize text-4xl font-extrabold rounded-lb-3xl  absolute inset-x-0 bottom-0 max-h-31">
                        <span class="text-xl text-center text-gray-100 inline-block align-middle pr-5">
                            CONSUMIR APIS
                        </span>
                </div>
            </div>
        </div>
    </nav>
</header>
<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
